<div class="row"  <%#showWhen%>ng-show="$ctrl.<%showWhen%>()"<%/showWhen%>
                  <%#hideWhen%>ng-hide="$ctrl.<%hideWhen%>()"<%/hideWhen%>>
<label for="<%name%>"><%label%></label>
<input  type="checkbox"
        ng-model="$ctrl.model.<%name%>"
        name="<%name%>"
        ng-true-value="<%options[1]%>"
        ng-false-value="<%options[0]%>"
        class="<%rowClass%>"
        title="<%tooltip%>" />
</div>
