<label for="{{name}}">{{label}}</label>
<input  type="checkbox"
        ng-model="{{name}}"
        name="{{name}}"
        ng-true-value="{{options[1]}}"
        ng-false-value=="{{options[0]}}"
        class="{{rowClass}}"
        title="{{tooltip}}" />

