<div class="row" <%#showWhen%>ng-show="$ctrl.<%showWhen%>()"<%/showWhen%>>
  <label for="<%name%>"><%label%></label>
  <%#options%>
  <input  type="checkbox"
          ng-model="$ctrl.model.<%name%>"
          name="<%name%>"
          value="<%.%>"
          class="<%rowClass%>"
          title="<%tooltip%>" />
  <span><%.%></span>
  <%/options%>
</div>
