<header  <%#showWhen%>ng-show="$ctrl.<%showWhen%>()"<%/showWhen%>>
  <H<%headingType%>><%text%></H<%headingType%>>
  <%#headingSmallText%>
  <p><%headingSmallText%></p>
  <%/headingSmallText%>
</header>
