<header  <%#showWhen%>ng-show="$ctrl.<%showWhen%>()"<%/showWhen%>
                  <%#hideWhen%>ng-hide="$ctrl.<%hideWhen%>()"<%/hideWhen%>>
  <H<%headingType%>><%text%></H<%headingType%>>
  <%#headingSmallText%>
  <p><%headingSmallText%></p>
  <%/headingSmallText%>
</header>
