<div class="row" <%#showWhen%>ng-show="$ctrl.<%showWhen%>()"<%/showWhen%>
                  <%#hideWhen%>ng-hide="$ctrl.<%hideWhen%>()"<%/hideWhen%>>
  <label for="<%name%>"><%label%></label>
  <select name="<%name%>"
          ng-model="$ctrl.model.<%name%>"
          class="<%rowClass%>"
          title="<%tooltip%>"
          <%#multi%>multiple="multiple"<%/multi%>>
    <%#options%>
      <option value="<%.%>"><%.%></option>
    <%/options%>
  </select>
</div>
