<label for="{{name}}">{{label}}</label>
<input  type="tel"
        ng-model="{{name}}"
        name={{name}}
        class="{{rowClass}}"
        placeholder="{{placehoderText}}"
        {{#required}}ng-required="true"{{/required}}
        {{#characterLimit}}ng-maxlength="{{characterLimit}}"{{/characterLimit}}
        title="{{tooltip}}" />
