
**/node_modules
.eslintcache

# debug logs
npm-debug.log
lerna-debug.log
debug.log

# dev files
.blinkmrc.json
forms.bat
bm-forms/

# VSCode config directory
.vscode/

# sublime project files
*.sublime*
