
node_modules
npm-debug.log
.eslintcache

output/

test/simonspace*
.blinkmrc.json
bm-forms/
forms-location/
inquirer.js

forms-location/
debug.log
forms.bat

# VSCode config directory
.vscode/

*.sublime*
