<label for="{{name}}">{{label}}</label>
{{#options}}
<input  type="checkbox"
        name="{{name}}"
        value="{{.}}"
        class="{{rowClass}}"
        title="{{tooltip}}" />
<span>{{.}}</span>
{{/options}}
