<label for="{{name}}">{{label}}</label>
<input  type="text"
        name={{name}}
        class="{{rowClass}}"
        placeholder="{{placehoderText}}"
        title="{{tooltip}}"
        {{#defaultValue}}value="{{defaultValue}}"{{/defaultValue}}/>
