<!doctype html>
<html ng-app="">

<head>
    <!-- inject:css -->
    <!-- endinject -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="/node_modules/@blinkmobile/angular-camera/dist/bm-angular-camera.js"></script>
    <script src="/node_modules/@blinkmobile/angular-location/dist/bm-location.js"></script>
    <script src="/node_modules/getusermedia/getusermedia.bundle.js"></script>
    <script src="/node_modules/signature_pad/signature_pad.js"></script>
    <script src="/node_modules/@blinkmobile/canvas-manipulation/dist/canvas-manipulation.js"></script>
    <script src="/node_modules/@blinkmobile/angular-signature-pad/dist/angular-signature-pad.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
  </head>
  <body>
  </body>
</html>
