<div class="row" <%#showWhen%>ng-show="$ctrl.<%showWhen%>()"<%/showWhen%>
                  <%#hideWhen%>ng-hide="$ctrl.<%hideWhen%>()"<%/hideWhen%>>
  <label for="<%name%>"><%label%></label>
  <%#options%>
  <label class="<%rowClass%>"
         title="<%tooltip%>">
    <input  type="checkbox"
            ng-checked="$ctrl.model.<%name%>.indexOf('<%.%>') > -1"
            ng-click="$ctrl.model.<%name%>.indexOf('<%.%>') > -1 ? $ctrl.model.<%name%>.splice($ctrl.model.<%name%>.indexOf('<%.%>'), 1) : $ctrl.model.<%name%>.push('<%.%>')"
            name="<%name%>"/>
    <span class="label-body"><%.%></span>
  </label>
  <%/options%>
</div>
