<!doctype html>
<html ng-app="<%form.name%>">

<head>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <link rel="stylesheet" href="/css/demo.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <%#form.dependencies%><script src="../<%filename%>/<%filename%>-module.js"></script>
    <script src="../<%filename%>/components/component-<%filename%>_add.js"></script>
    <script src="../<%filename%>/components/component-<%filename%>_delete.js"></script>
    <script src="../<%filename%>/components/component-<%filename%>_edit.js"></script>
    <script src="../<%filename%>/components/component-<%filename%>_list.js"></script>
    <script src="../<%filename%>/components/component-<%filename%>_search.js"></script>
    <script src="../<%filename%>/components/component-<%filename%>_view.js"></script>
    <%/form.dependencies%>

    <%#scriptNames%><script src="<%.%>"></script>
    <%/scriptNames%>

  </head>
    <body>
      <%#componentNames%>
      <p><%.%></p>
      <<%.%>></<%.%>>
      <hr/>
      <%/componentNames%>
  </body>
</html>
