<div class="bm-form__field" <%#showWhen%>ng-show="$ctrl.<%showWhen%>()"<%/showWhen%>
                  <%#hideWhen%>ng-hide="$ctrl.<%hideWhen%>()"<%/hideWhen%>>
  <label class="bm-label" for="<%name%>"><%label%></label>
  <input  type="password"
          ng-model="$ctrl.model.<%name%>"
          name="<%name%>"
          class="bm-input bm-input__password <%rowClass%>"
          placeholder="<%placeholderText%>"
          <%#required%>ng-required="true"<%/required%>
          <%#characterLimit%>ng-maxlength="<%characterLimit%>"<%/characterLimit%>
          title="<%tooltip%>" />
  <%#hint%><span class="bm-hint bm-hint__password"><%hint%></span><%/hint%>
</div>
