function <%moduleName%>Controller (<%moduleName%>Model, $scope, $window) {
  // the form model
  this.model = this.model || <%moduleName%>Model || {}

  this.page = this.page || 0
  <%#pageNumbers%>
  this.pageNumbers = <%pageNumbers%>
  <%/pageNumbers%>
  this.toJson = function (obj) {
    return JSON.stringify(obj, null, 2)
  }

  // lifecycle functions
  this.$onInit = () => {}
  this.$onChanges = (changesObj) => {
    console.log('change fn run')
    console.log(changesObj)
  }
  this.$doCheck = (...args) => {
    console.log('do check args:', args, this)
  }
  this.$onDestroy = () => {}
  this.$postLink = () => {}

  this.addSubform = (collection) => {
    collection.push({})
  }

  this.removeSubform = (model, collection) => {
    const idx = collection.indexOf(model)
    if (idx === -1) {
      return
    }

    collection.splice(idx, 1)
  }
}

angular.module('<%moduleName%>').component('<%moduleName%>', {
  transclude: {
    pagination: '?pagination'
  },
  templateUrl: 'component-<%name%>.html',
  controller: <%moduleName%>Controller,
  bindings: {
    model: '<?',
    page: '<?'
  }
})
