function <%moduleName%>Controller (<%moduleName%>Model, $scope, $window) {
  // the form model
  this.model = this.model || <%moduleName%>Model || {}

  this.toJson = function (obj) {
    return JSON.stringify(obj, null, 2)
  }

  // lifecycle functions
  this.$onInit = () => {}
  this.$onChanges = (changesObj) => {}
  this.$doCheck = () => {}
  this.$onDestroy = () => {}
  this.$postLink = () => {}

  this.save = (model) => console.log('i am saving ', model)

  this.addSubform = (collection) => {
    collection.push({})
  }

  this.removeSubform = (model, collection) => {
    const idx = collection.indexOf(model)
    if (idx === -1) {
      return
    }

    collection.splice(idx, 1)
  }
}

angular.module('<%moduleName%>').component('<%moduleName%>', {
  templateUrl: 'component-<%name%>.html',
  controller: <%moduleName%>Controller,
  bindings: {
    model: '<?'
  }
})
